alacritty-colorscheme==1.0.1
async-timeout==5.0.1
certifi==2021.5.30
charset-normalizer==2.0.6
greenlet==1.1.2
idna==3.2
msgpack==1.0.4
mypy-extensions==0.4.3
pynvim==0.4.3
redis==5.2.1
requests==2.26.0
ruamel.yaml==0.16.13
spotipy==2.25.1
typed-argument-parser==1.7.2
typing-extensions==3.10.0.2
typing-inspect==0.7.1
urllib3==1.26.7
